{% extends 'base.html'%}
{% block title%} Watchlist {% endblock %}
{% block content %}


<div class="text-center display-5 mt-2">
    <strong>Your MovieThon Watchlist</strong>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for movie in watchlist %}
    <div class="col">
        <div class="card text-white bg-dark">
            <div class="card-header text-center">{{movie.movie_id}}</div>
            <a href="">
                <img src="" class="card-img-top" alt="...">
            </a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}